body {
    font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
}

body,
footer {
    padding: 1rem 0;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    height: 100%;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    text-align: center;
}

img {
    max-width: 100%;
}

pre {
    border: 1px solid black;
    padding: 0.5rem;
}

:not(pre) > code {
    color: red;
}

.skip-link {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.skip-link:focus {
    height: auto;
    position: static;
    width: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #dfdfdf;
    }

    a {
        color: #67c0ff;
    }

    pre {
        border-color: white;
    }
}
