<!doctype html>
<html lang="en-us">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>
    {% block subtitle %}{% endblock %}
    {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}" >{% endif %}
    {% if site_description is defined %}<meta name="description" content="{{ site_description }}" >{% endif %}
    {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}" >{% endif %}
    <link rel="stylesheet" href="{{ url_for("static", file="styles.min.css") }}" type="text/css">
    <link rel="icon" href="{{ url_for("static", file="favicon.svg") }}" type="image/svg+xml">
    <link rel="icon" href="{{ url_for("static", file="favicon-light.png") }}" type="image/png">
    {% block meta %}{% endblock %}
    {% endblock %}
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <nav aria-label="Site Navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/garden/">Garden</a></li>
            <li><a href="/services/">Services</a></li>
        </ul>
    </nav>

    <main id="main">
        <div> {% block main %}{% endblock %}
        </div>
    </main>

<footer>    
    <a href="https://github.com/ccleberg/cleberg.net">SOURCE</a> &middot;
    <a href="/feed.xml">RSS</a> &middot;
    <a href="http://paske4urhs6nttrtlkuwa5cowum3fjkc6yv6kl4ncx3mjxcd77764nqd.onion/">ONION</a> &middot;
    <a href="/tips">Tips</a>
</footer>
</body>
</html>
