{% extends "base.html" %} {% block main %}
<section class="context-box">
	<span class="context-label">User:</span> <span>Christian Cleberg &lt;hello@cleberg.net&gt;</span>
	<span class="context-label">Context:</span> <span>Technology Assurance Manager</span>
	<span class="context-label">Status:</span> <span>Active</span>
</section>
<section class="recent-posts">
	<h2>Recent Posts</h2>
	<!-- BEGIN_POSTS -->
	<!-- END_POSTS -->
	<p><a href="/blog/">All Posts &rarr;</a></p>
</section>
{% endblock %}