{% extends "base.html" %} {% block main %}
<section>
    <p><b>Hi, I'm Christian.</b></p>
    <p>I'm a Technology Assurance Manager @ KPMG.</p>
    <p>I use this site as a place to think out loud (see my <a href="/blog/">blog</a>, <a href="/garden/">garden</a>, or
    <a href="/guides/">guides</a>), a place to publish information (see
    my <a href="https://cv.cleberg.net">CV</a> and <a href="/salary/">salary</a>
    pages), and a foundational URI to use for my projects (see
    my <a href="/apps/">apps</a>).</p>
    <p>If you want to chat, you can find me in the following spaces:</p>
    <ul>
        <li>hello [at] cleberg.net (<a href="/gpg.txt">PGP Key</a>)</li>
        <li>@cmc.01 on <a href="https://signal.org">Signal</a></li>
    </ul>
    <p>Curious about the technology behind this website? Check out my <a href="/uses/">/uses</a> page.</p>
    <p>Curious about what I've been up to lately in my personal life? Check out my <a href="/now/">/now</a> page.</p>
</section>

<p>Recent Posts</p>
<!-- BEGIN_POSTS --><!-- END_POSTS -->
<p><a href="/blog/">All Posts &rarr;</a></p>
{% endblock %}
