{% extends "base.html" %} {% block subtitle %} {{ post.title }} | {% endblock %}
{% block meta %}
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:url" content="{{ post.url }}" />
{% if post.description is defined %}
<meta property="og:description" content="{{ post.description }}" />
{% elif project_description is defined %}
<meta property="og:description" content="{{ project_description }}" />
{% endif %} {% endblock %} {% block main %}
<article>
	<section class="context-box">
		<span class="context-label">Title:</span> <span>{{ post.title }}</span>
		<span class="context-label">Date:</span> <span><time datetime='{{ post.date|strftime("%Y-%m-%d") }}'>{{ post.date|strftime("%Y-%m-%d %H:%M:%S") }}</time></span>
		<span class="context-label">Description:</span> <span>{{ post.description }}</span>
	</section>
	<section>{{ post.html | safe }}</section>
	<div class="reply-link"><a href="mailto:hello@cleberg.net">Reply via email &rarr;</a></div>
</article>
{% endblock %}
